header{
  height: 70px;
background: #000;
}

.flex-between{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.header-logo{
  font-size: 20px;
  font-weight: bold;
  margin-left: 35px;
  color: #f2f2f2;
  line-height: 70px;
}

.header-nav li{
  display: inline-block;
  margin-right: 35px;
  font-size: 16px;
}

.header-nav a{
  color: #f2f2f2;
}

#eyecatch{
  height: 600px;
  background: url(img/ダウンロード\ \(6\).jpg) no-repeat;
  background-size: cover;
  position: relative;
}

#eyecatch p{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 100px;
font-weight: bold;
font-style: italic;
color: rgb(197, 40, 40);
line-height: 1;
}

#about h2{
  margin: 30px 0 30px 0;
  text-align: center;
}

.flex{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.aroud{
  justify-content: space-around;
}

img{
  display: block;
  width: 100%;
}

.about-right h3, .about-right p{
  margin-bottom: 15px;
}

.about-left, .about-right{
  width: 45%;
}

.about-right ol{
  list-style-position: inside;
}

.section-title{
  font-size: 30px;
  font-weight: bold;
  margin: 30px 0;
  text-align: center;
}

#business {
  background: url(img/ダウンロード\ \(6\).jpg)no-repeat;
   background-size: cover;
   }

  .business-wrap {
  text-align: center;
   }
   .business-cat {
  width: 28%;
   background-color: rgba(51, 51, 51, 0.5);
   padding: 20px 35px 30px;
   box-sizing: border-box;
   margin-bottom: 50px;
   }
   .business-cat h3 {
   font-size: 18px;
   font-weight: bold;
   margin-bottom: 10px;
   color: #fff;
  }
  .business-cat p {
   color: #fff;
   }
   .business-cat img {
  width: 100px;
   height: auto;
   margin: 0 auto 10px;
   }

   #company{
     padding: 40px 0 70px 0;
   }

   #company .contain{
     border-collapse: collapse;
     width: 70%;
     margin: 0 auto;
   }

   #company table tr{
     border-bottom: 1px solid #333333;
   }

   #company th , #company td{
    text-align: left;
   }

   #company th{
     padding: 10px 0;
   }

   .contact{
     background: rgb(241, 241, 241);
   }

   .contact .section-title{
     padding: 40px 0;
     margin: 0;
   }

   .form{
     width: 70%;
     margin: 0 auto;
   }

   .form > div input{
  margin-bottom: 20px;
  padding: 7px;   
  width: 60%;
  }

  label{
    display: inline-block;
    width: 30%;
  }

  input,textarea{
    box-sizing: border-box;
    border: 1px solid #999;
  }

  textarea{
    vertical-align: top;
    height: 15em;
    width: 60%;
  }

  .button-submit{
    text-align: center;
  }
  .button{
    padding: 10px 30px;
    background-color: #000;
    color: #fff;
    margin: 30px 0;
  }

  #footer{
    height: 80px;
    text-align: center;
    line-height: 80px;
  }

  @media screen and (max-width:768px) {
#hamburger {
  width: 40px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  z-index: 100;
  top: 15px;
  right: 20px;
  transition: .4s;
}
  }
  #hamburger span{
    position: absolute;
    left: 2px;
    display: block;
    width: 35px;
    height: 2px;
    background-color: #fff;
    transition: .8s;
  }

  #hamburger span:nth-of-type(1) {
    top: 10px;
  }
  #hamburger span:nth-of-type(2) {
    top: 20px;
  }
  #hamburger span:nth-of-type(3) {
    top: 30px;
  }

  @media screen and (max-width:768px) {
    .header-nav{
      display: none;
    }
  }

  @media screen and (max-width:768px) {
    .about-left .about-right{
   width: 80%;
    }
  }
  @media screen and (max-width:768px) {
    .business-cat{
   width: 80%;
    }
  }
  @media screen and (max-width:768px) {
    label{
      display: block;
    }
    .form > div{
      margin: 0 auto;
    }
    input, textarea{
      width: 100%;
    }
  }

.menu-contet{
  display: none;
}

#hamburger .active span:nth-of-type(1) {
  top: 20px;
  transform: rotate(45deg);
}
#hamburger .active span:nth-of-type(2) {
  opacity: 0;
}
#hamburger .active span:nth-of-type(3) {
  top: 20px;
  transform: rotate(-45deg);
}

@media screen and (max-width:768px){
  .menu-contet{
    display: block;
  }

.menu-contet .menu-title{
  margin: 40px 20px;
  font-size: 2.2rem;
  color: #333333;
  text-align: center;
  font-weight: bold;
}
}
